<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%-title%</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
    <style>
        header h1 {
            font-size: 60pt;
            background-color: aquamarine;
            color: #eee;
            text-align: right;
            margin: 0px;
        }

        body {
            font-size: 14pt;
            color: #999;
            margin: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>%-title%</h1>
    </header>
    <div role="main">
        <p>sample ramble</p>
        <p>本日は<%-title%>です。</br> どうかお気をつけて</p>
    </div>
    <h2>Hello Sample!</h2>
</body>
</html>